<div class="d-flex flex-column flex-shrink-0 sidebar-custom">
  <h5 class="text-center mb-4 mt-3 fw-bold">Admin</h5>
  <ul class="nav nav-pills flex-column mb-auto px-2">
    <li class="nav-item">
      <a href="/html/layout/main.html?page=dashboard" class="nav-link-custom">
        <i class="bi bi-speedometer2 me-2"></i> Trang chủ
      </a>
    </li>
    <li class="nav-item">
      <a href="/html/layout/main.html?page=study-class" class="nav-link-custom">
        <i class="bi bi-easel2 me-2"></i> Lớp học
      </a>
    </li>
    <li>
      <a href="/html/layout/main.html?page=class-session" class="nav-link-custom">
        <i class="bi bi-calendar-week me-2"></i> Buổi học
      </a>
    </li>
    <li>
      <a href="/html/layout/main.html?page=attendence-class-session" class="nav-link-custom">
        <i class="bi bi-clipboard2-check me-2"></i> Điểm danh buổi học
      </a>
    </li>
    <li>
      <a href="/html/layout/main.html?page=attendence-study-class" class="nav-link-custom">
        <i class="bi bi-person-lines-fill me-2"></i> Điểm danh lớp học
      </a>
    </li>
    <li>
      <a href="/html/layout/main.html?page=students" class="nav-link-custom">
        <i class="bi bi-person-fill me-2"></i> Học viên
      </a>
    </li>
    <li>
      <a href="/html/layout/main.html?page=student-study-class" class="nav-link-custom">
        <i class="bi bi-journals me-2"></i> Lớp đã tham gia
      </a>
    </li>
    <li>
      <a href="/html/layout/main.html?page=attendence" class="nav-link-custom">
        <i class="bi bi-upc me-2"></i> Điểm danh
      </a>
    </li>
    <li>
      <a href="/html/layout/main.html?page=report" class="nav-link-custom">
        <i class="bi bi-graph-up-arrow me-2"></i> Báo cáo
      </a>
    </li>
  </ul>

  <div class="mt-auto pt-3">
    <a href="/html/page/login.html" class="logout-btn w-100">
      <i class="bi bi-box-arrow-right me-2"></i> Đăng xuất
    </a>
  </div>
</div>
